In [50]:

import pandas as pd

# API endpoint
df_path = "/Users/abdulrazzaq/Documents/GitHub/safe-walk-nyc/NYPD_Complaint_Data_Current__Year_To_Date__20250126 (1).csv"
df = pd.read_csv(df_path)
print("Shape:", df.shape)
print("Columns:", df.columns)
print("Data Types:\n", df.dtypes)
print("Summary Statistics:\n", df.describe())
print("Missing Values:\n", df.isnull().sum())

Shape: (433281, 36)
Columns: Index(['CMPLNT_NUM', 'ADDR_PCT_CD', 'BORO_NM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM',
       'CMPLNT_TO_DT', 'CMPLNT_TO_TM', 'CRM_ATPT_CPTD_CD', 'HADEVELOPT',
       'HOUSING_PSA', 'JURISDICTION_CODE', 'JURIS_DESC', 'KY_CD', 'LAW_CAT_CD',
       'LOC_OF_OCCUR_DESC', 'OFNS_DESC', 'PARKS_NM', 'PATROL_BORO', 'PD_CD',
       'PD_DESC', 'PREM_TYP_DESC', 'RPT_DT', 'STATION_NAME', 'SUSP_AGE_GROUP',
       'SUSP_RACE', 'SUSP_SEX', 'TRANSIT_DISTRICT', 'VIC_AGE_GROUP',
       'VIC_RACE', 'VIC_SEX', 'X_COORD_CD', 'Y_COORD_CD', 'Latitude',
       'Longitude', 'Lat_Lon', 'New Georeferenced Column'],
      dtype='object')
Data Types:
 CMPLNT_NUM                   object
ADDR_PCT_CD                   int64
BORO_NM                      object
CMPLNT_FR_DT                 object
CMPLNT_FR_TM                 object
CMPLNT_TO_DT                 object
CMPLNT_TO_TM                 object
CRM_ATPT_CPTD_CD             object
HADEVELOPT                   object
HOUSING_PSA                 float64
JURISDICTION_CODE             int64
JURIS_DESC                   object
KY_CD                         int64
LAW_CAT_CD                   object
LOC_OF_OCCUR_DESC            object
OFNS_DESC                    object
PARKS_NM                     object
PATROL_BORO                  object
PD_CD                       float64
PD_DESC                      object
PREM_TYP_DESC                object
RPT_DT                       object
STATION_NAME                 object
SUSP_AGE_GROUP               object
SUSP_RACE                    object
SUSP_SEX                     object
TRANSIT_DISTRICT            float64
VIC_AGE_GROUP                object
VIC_RACE                     object
VIC_SEX                      object
X_COORD_CD                  float64
Y_COORD_CD                  float64
Latitude                    float64
Longitude                   float64
Lat_Lon                      object
New Georeferenced Column     object
dtype: object
Summary Statistics:
          ADDR_PCT_CD   HOUSING_PSA  JURISDICTION_CODE          KY_CD  \
count  433281.000000  26751.000000      433281.000000  433281.000000
mean       63.937899   6360.407200           0.544695     301.150789
std        35.148691  13265.082437           5.104021     158.020542
min         1.000000    218.000000           0.000000     101.000000
25%        40.000000    472.000000           0.000000     117.000000
50%        63.000000    696.000000           0.000000     341.000000
75%       102.000000   1233.000000           0.000000     351.000000
max       123.000000  73161.000000          97.000000     881.000000

               PD_CD  TRANSIT_DISTRICT    X_COORD_CD     Y_COORD_CD  \
count  433003.000000      19497.000000  4.332750e+05  433275.000000
mean      420.296081         16.116890  1.005583e+06  207725.656216
std       230.427955         12.589757  2.154425e+04   29876.068908
min       100.000000          1.000000  0.000000e+00       0.000000
25%       258.000000          3.000000  9.913670e+05  185568.000000
50%       384.000000         12.000000  1.005040e+06  207095.000000
75%       638.000000         32.000000  1.017983e+06  235058.000000
max       969.000000         34.000000  1.067306e+06  271819.000000

            Latitude      Longitude
count  433275.000000  433275.000000
mean       40.736599     -73.922634
std         0.119932       0.176639
min         0.000000     -74.254555
25%        40.675980     -73.974333
50%        40.735027     -73.924932
75%        40.811838     -73.878203
max        40.912714       0.000000
Missing Values:
 CMPLNT_NUM                       0
ADDR_PCT_CD                      0
BORO_NM                          0
CMPLNT_FR_DT                     0
CMPLNT_FR_TM                     0
CMPLNT_TO_DT                 22399
CMPLNT_TO_TM                     0
CRM_ATPT_CPTD_CD                 0
HADEVELOPT                       0
HOUSING_PSA                 406530
JURISDICTION_CODE                0
JURIS_DESC                       0
KY_CD                            0
LAW_CAT_CD                       0
LOC_OF_OCCUR_DESC                0
OFNS_DESC                        0
PARKS_NM                         0
PATROL_BORO                      0
PD_CD                          278
PD_DESC                          0
PREM_TYP_DESC                    0
RPT_DT                           0
STATION_NAME                     0
SUSP_AGE_GROUP                   0
SUSP_RACE                        0
SUSP_SEX                         0
TRANSIT_DISTRICT            413784
VIC_AGE_GROUP                    0
VIC_RACE                         0
VIC_SEX                          0
X_COORD_CD                       6
Y_COORD_CD                       6
Latitude                         6
Longitude                        6
Lat_Lon                          6
New Georeferenced Column         6
dtype: int64

In [51]:
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,287066200,123,STATEN ISLAND,05/17/2024,22:21:00,05/17/2024,22:25:00,COMPLETED,(null),NaN,...,NaN,45-64,WHITE,F,937116.0,137959.0,40.545217,-74.169591,"(40.545217, -74.169591)",POINT (-74.169591 40.545217)
1,287424426,121,STATEN ISLAND,05/24/2024,17:20:00,05/24/2024,17:25:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE,F,937288.0,151471.0,40.582305,-74.169067,"(40.582305, -74.169067)",POINT (-74.169067 40.582305)
2,290583574,121,STATEN ISLAND,06/05/2024,07:00:00,06/10/2024,07:00:00,COMPLETED,(null),NaN,...,NaN,65+,BLACK,F,937791.0,172099.0,40.638927,-74.167396,"(40.638927, -74.167396)",POINT (-74.167396 40.638927)
3,289989348,121,STATEN ISLAND,07/12/2024,18:50:00,07/12/2024,19:05:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,E,938881.0,167697.0,40.626851,-74.163438,"(40.626851, -74.163438)",POINT (-74.163438 40.626851)
4,283856947,121,STATEN ISLAND,03/16/2024,19:45:00,03/16/2024,20:00:00,COMPLETED,(null),NaN,...,NaN,25-44,UNKNOWN,M,940986.0,169325.0,40.631331,-74.155867,"(40.631331, -74.155867)",POINT (-74.155867 40.631331)

In [52]:
df = df.drop(columns=['HADEVELOPT', 'HOUSING_PSA', 'TRANSIT_DISTRICT', 'New Georeferenced Column', 'Lat_Lon'])

In [53]:
df = df.dropna(subset=['Latitude', 'Longitude' , 'CMPLNT_TO_DT','PD_CD'])

In [54]:
df['CMPLNT_DATETIME'] = pd.to_datetime(
    df['CMPLNT_FR_DT'] + ' ' + df['CMPLNT_FR_TM'],
    format='%m/%d/%Y %H:%M:%S',  # Specify the correct format
    errors='coerce'  # Coerce invalid dates to NaT
)

In [55]:
df = df.dropna(subset=[ 'CMPLNT_DATETIME'])

In [56]:
print("Missing Values:\n", df.isnull().sum())

Missing Values:
 CMPLNT_NUM           0
ADDR_PCT_CD          0
BORO_NM              0
CMPLNT_FR_DT         0
CMPLNT_FR_TM         0
CMPLNT_TO_DT         0
CMPLNT_TO_TM         0
CRM_ATPT_CPTD_CD     0
JURISDICTION_CODE    0
JURIS_DESC           0
KY_CD                0
LAW_CAT_CD           0
LOC_OF_OCCUR_DESC    0
OFNS_DESC            0
PARKS_NM             0
PATROL_BORO          0
PD_CD                0
PD_DESC              0
PREM_TYP_DESC        0
RPT_DT               0
STATION_NAME         0
SUSP_AGE_GROUP       0
SUSP_RACE            0
SUSP_SEX             0
VIC_AGE_GROUP        0
VIC_RACE             0
VIC_SEX              0
X_COORD_CD           0
Y_COORD_CD           0
Latitude             0
Longitude            0
CMPLNT_DATETIME      0
dtype: int64

In [59]:
df = df[df['CMPLNT_DATETIME'] >= '2024-09-19']

In [60]:
len(df)

15668

In [61]:
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,JURISDICTION_CODE,JURIS_DESC,...,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,CMPLNT_DATETIME
26,293914062,121,STATEN ISLAND,09/20/2024,19:50:00,09/20/2024,20:00:00,COMPLETED,0,N.Y. POLICE DEPT,...,(null),(null),25-44,WHITE HISPANIC,F,937288.0,151471.0,40.582305,-74.169067,2024-09-20 19:50:00
31,293637635,121,STATEN ISLAND,09/20/2024,16:20:00,09/20/2024,16:22:00,COMPLETED,0,N.Y. POLICE DEPT,...,UNKNOWN,U,45-64,WHITE,M,942237.0,167171.0,40.625423,-74.151349,2024-09-20 16:20:00
81,293968648,121,STATEN ISLAND,09/27/2024,12:17:00,09/27/2024,13:23:00,COMPLETED,0,N.Y. POLICE DEPT,...,WHITE,M,45-64,WHITE,F,942080.0,163510.0,40.615375,-74.151889,2024-09-27 12:17:00
108,293713594,121,STATEN ISLAND,09/21/2024,19:51:00,09/21/2024,19:51:00,COMPLETED,0,N.Y. POLICE DEPT,...,(null),(null),18-24,WHITE,M,937288.0,151471.0,40.582305,-74.169067,2024-09-21 19:51:00
161,293552724,122,STATEN ISLAND,09/19/2024,05:58:00,09/19/2024,06:06:00,COMPLETED,0,N.Y. POLICE DEPT,...,WHITE,M,UNKNOWN,UNKNOWN,D,938688.0,137144.0,40.542989,-74.163931,2024-09-19 05:58:00

In [63]:
df = df[(df['Longitude'] >= -74.05) & (df['Longitude'] <= -73.75) &
        (df['Latitude'] >= 40.50) & (df['Latitude'] <= 40.90)]

In [64]:
len(df)

14719

In [65]:
import json

# Create a GeoJSON structure
geojson = {
    "type": "FeatureCollection",
    "features": []
}

for _, row in df.iterrows():
    feature = {
        "type": "Feature",
        "geometry": {
            "type": "Point",
            "coordinates": [row['Longitude'], row['Latitude']]
        },
        "properties": {
            "crime_type": row['OFNS_DESC'],
            "date": row['CMPLNT_DATETIME'].strftime('%Y-%m-%d %H:%M:%S'),
            "borough": row['BORO_NM'],
            "offense_level": row['LAW_CAT_CD']
        }
    }
    geojson['features'].append(feature)

# Save GeoJSON to a file
with open('crime_data.geojson', 'w') as f:
    json.dump(geojson, f)